main {
    position: absolute;
    left: 40%;
    top: 40%;




}

img {
    position: relative;
    top: 10px;
    right: 20px;
    width: 15%;
    display: inline-block;

}

input {
    border-radius: 5px;
    border-width: 2px
}

#telinha {
    display: inline-block;
    background-color: #d0f6f6;
    border-style: solid;
    border-width: 5px;
    border-color: #16adad;
    border-radius: 10px;
    width: 220px;
    height: 180px;

}

#login {
    display: block;
    margin-left: 50%;
    margin-top: 10px;
}

.campos {
    display: block;
    margin-left: 15%;
}

.ajuste {
    margin-left: 15%;
}

#manterlogado {
    margin-left: 0%;
}

#checkbox {
    margin-left: 15%;
}

.textos {
    margin-top: 25px;
    margin-right: 40px;
}